
* {
  box-sizing: border-box;
}

body {
 background-color: #ffffff;
  margin: 0;
  padding:0;
}


.topnav{
    margin:0;
    overflow: hidden;
    background-color:#ffffff;
    padding-left:100px;   
}
.topnav ul li{
    list-style-type: none;

}

.topnav a{
    float:left;
    display:block;
    color:#990099;
    text-align: right;
    padding:22px 30px;
    text-decoration: none;
    margin-bottom:0;
    margin-top:0;
 
}

.active {
    background-color: #ffcc00;
  }

.topnav a:hover{ 
    margin-right: 0;   
    background-color: #ffcc00;
}
div img{
    overflow: hidden;
    display: inline-block;
}
.une{
    float:left;
    height: 300px;
    width:1263px;
    background-color: #ccccff; 
    overflow: hidden;
    padding-left: 50px; 
    list-style-type: none;
 
}
.une li ul{
    float: left;
    padding-left: 30px;  
    padding-top:20px;
    list-style-type: none;

}
.une li ul a{
    text-decoration: none;
    padding-bottom: 10px;
  

}
.une img{
    padding: 0 20px;
    float:left;
    padding-right: 20px;
}

h2{
    padding-left: 50px; 
    color:#990099;

}
.medee{
    overflow: hidden;
    height: 300px;
    width:1263px;
    background-color: #ccccff; 
    overflow: hidden;
    padding-left: 30px; 
    float:left;
       list-style-type: none;
}
.medee li ul{
    float: left;
    padding-left: 20px; 
    margin-top: 50px;
    list-style-type: none;
   
}
.medee li ul a{
    text-decoration: none;
    bottom:20px;
    list-style-type: none;
 
}
.burtgel{
    background-color: white;
    border: none;
  
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.btn1 {border-radius: 12px;
    color: #990099;}
.btn2 {border-radius: 12px;
  color: #990099;}


